<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles/mainpage.css">
		<title>ajouter un incident</title>
		<link rel="icon" type="image/x-icon" href="ucl-fav.jpg">
	</head>
	<body>
		<nav>
			<div>
				<table class="nav-table">
					<tr>
						<td class="col1">
							<a href="/"><img src="logo.png" alt="logo ucl" height=40px style="float:left">  </a>
						</td>
						<td class="col2">
							<h1>Fix'it</h1>
						</td>
						<td class="col3">
							<a href="/loginpage.html"><button class="button" name="button"><%= username %></button></a>
						</td>
					</tr>
					<tr class="row"></tr>
				</table>
			</div>
		</nav>
		<div class="form">
			<h3> Signaler nouveau incident</h3>
			<form action="/creationpage.html" method="post">
				<label for="description">Description:</label>
				<p>
				<textarea name="description" rows="6" cols="120" id="description" required></textarea>
				</p>
				<label for="address">Adresse:</label>
				<p>
				<textarea name="address" rows="4" cols="120" id="address" required></textarea>
				</p>
				<p>
				<button class="btn">Soumettre</button>
				</p>
			</form>
		</div>
	</body>
	<script src="/script.js"></script>
</html>
