<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles/mainpage.css">
		<title>connection</title>
		<link rel="icon" type="image/x-icon" href="ucl-fav.jpg">
	</head>
	<body>
		<nav>
			<div>
				<table class="nav-table">
					<tr>
						<td class="col1">
							<a href="/"><img src="logo.png" alt="logo ucl" height=40px style="float:left">  </a>
						</td>
						<td class="col2">
							<h1>Fix'it</h1>
						</td>
						<td class="col3">
							<a href="/loginpage.html"><button class="button" name="button"><%= username %></button></a>
						</td>
					</tr>
					<tr class="row"></tr>
				</table>
			</div>
		</nav>

		<% if (error) { %>
			<div class="error-message">
				Utilisateur invalide : adresse email ou mot de passe incorrect.
			</div>
		<% } %>

		<div class="container">
			<h2>Se connecter</h2>
			<form action="loginpage.html" method="post" class="form-fields">
				<input type="email" name="loginEmail" id="loginEmail" required placeholder="Adresse e-mail">
				<input type="password" name="loginPassword" id="loginPassword" required placeholder="Mot de Passe">
				<button type="submit" class="btn">Connexion</button>
			</form>
		</div>
		<br>
		<h2>OU</h2>
		<br>
		<div class="container">
			<h2>S'enregistrer</h2>
			<form action="loginpage.html" method="post" class="form-fields">
				<input type="text" name="registerName" id="registerName" required placeholder="Nom Complet">
				<input type="text" name="registerNickname" id="registerNickname" required placeholder="Nom d'Utilisateur">
				<input type="email" name="registerEmail" id="registerEmail" required placeholder="Adresse e-mail">
				<input type="password" name="registerPassword" id="registerPassword" required placeholder="Mot de Passe">
				<button type="submit" class="btn">S'enregistrer</button>
			</form>
		</div>
	</body>
</html>
