<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles/mainpage.css">
		<title>Accueil</title>
		<link rel="icon" type="image/x-icon" href="ucl-fav.jpg">
	</head>
	<body>
		<nav>
			<div>
				<table class="nav-table">
					<tr>
						<td class="col1">
							<a href="/"><img src="logo.png" alt="logo ucl" height=40px style="float:left"></a>
						</td>
						<td class="col2">
							<a href="/"><img src="fix_ton_univ.png" alt="logo ucl" width=100% style="align-self: center;"></a>
						</td>
						<td class="col3">
							<a href="/loginpage.html"><button class="button" name="button"><%= username %></button></a>
						</td>
					</tr>
					<tr class="row"></tr>
					<tr>
						<td class="col1" style="vertical-align: bottom;">
							<a href="/creationpage.html">Ajouter un incident</a>
						</td>
						<td class="col2">
							<input type="search" placeholder="Rechercher un incident…" />
						</td>
						<td class="col3">
							date :
							<script>
								date = new Date().toLocaleDateString();
								document.write(date);
							</script>
						</td>
					</tr>
				</table>
			</div>
		</nav>
		<div id="table-container"></div>
		<div>
			<nav class="menu">
				<ul>
					<li><a href="#Accueil">Accueil</a></li>
					<li><a href="#Apropos">À propos</a></li>
					<li><a href="#Contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</body>
	<script src="/script.js"></script>
	<script>
		// is run every time this page is loaded, set inner HTML
		create_table(<%- JSON.stringify(data || []) %>);
	</script>
</html>
